{% extends "base.html" %} {% block content %}

<h2>Upload Traffic Signs🚦</h2>
<style> .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2dcba7;
   color: black;
   text-align: center;
   font-size: 25px;
   font-weight: bold;
}</style>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="/" >Spiralytics</a>
            <div class="navbar-header">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                    <a class="nav-item nav-link" href="/predict">Predictor </a>
                    <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>

<div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:flex;justify-content: center;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " style="display:flex;justify-content: center;" id="btn-predict">Predict Traffic Sign 🚦</button>
        </div>
    </div>

    <div class="loader" style="display:flex;justify-content: center;"></div>

    <h3 class="headingStyle" id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}